<aside class="sidebar">
  <div class="brand">
    <div class="logo-badge">T</div>
    <div class="logo-text">TBanco</div>
  </div>

  <ul>
    <li routerLink="/dashboard" routerLinkActive="active">
      <mat-icon aria-hidden="false">dashboard</mat-icon>
      <span class="menu-label">{{ 'SIDEBAR.DASHBOARD' | translate }}</span>
    </li>
    <li routerLink="/transferencia" routerLinkActive="active">
      <mat-icon aria-hidden="false">credit_card</mat-icon>
      <span class="menu-label">{{ 'SIDEBAR.TRANSFER' | translate}}</span>
    </li>
    <li routerLink="/emprestimo" routerLinkActive="active">
      <mat-icon aria-hidden="false">payments</mat-icon>
      <span class="menu-label">{{ 'SIDEBAR.LOAN' | translate}}</span>
    </li>
    <li routerLink="/transacoes" routerLinkActive="active">
      <mat-icon aria-hidden="false">receipt_long</mat-icon>
      <span class="menu-label">{{ 'SIDEBAR.TRANSACTIONS' | translate}}</span>
    </li>
    <li routerLink="/perfil" routerLinkActive="active">
      <mat-icon aria-hidden="false">person</mat-icon>
      <span class="menu-label">{{ 'SIDEBAR.PROFILE' | translate}}</span>
    </li>
  </ul>
</aside>
